<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/nh43de/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="nh43de" />
            <add key="ClearTextPassword" value="82e27b6afae4391615722c35a59139e8ca5b672b" />
        </github>
    </packageSourceCredentials>
</configuration>