<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The path were the tests files would be stored-->
    <add key="basePath" value="Resources" />
    <!-- The name of each test workbook -->
    
    <add key="ConsumerLoans" value="ConsumerLoans.xlsx" />
    <add key="OfferRates" value="OfferRates.xlsx" />
    <add key="TestMultiSheet" value="TestMultiSheet.xls" />
    <add key="xTest_Issue_11397" value="Test_Issue_11397.xlsx" />
    <add key="Test_Issue_7433_IllegalOleAutDate" value="Test_Issue_7433_IllegalOleAutDate.xls" />
    <add key="TestSelectNonStrict" value="TestSelectNonStrict.xlsx" />
    <add key="Test_Issue_11397" value="Test_Issue_11397.xls" />
  </appSettings>
</configuration>