name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
      - master
jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Build and Test
      run: ./Build.ps1
      shell: pwsh
    - name: Push to Nuget
      env:
        NUGET_URL: https://www.myget.org/F/datapowertools/api/v3/index.json
        NUGET_API_KEY: ${{ secrets.MYGET_DATAPOWERTOOLS_CI_API_KEY }}
      run: ./Push.ps1
      shell: pwsh
    - name: Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: artifacts/**/*